<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/produtos.css">
</head>
<body>
    <div id="dvCabecalho">
        <div id="dvLogo">
            <img src="../static/lgcart.png" alt="">
            <h3 id="pLogo">Carrinho de Compras</h3>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>