*{
    font-family: century gothic;
}

#dvLogo{
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#dvLogo img{
    width: 60px;
    height: auto;
    float: left;
}
#dvLogo p{
    margin-left: 10px;
    float: left;
    font-weight: bolder;
}
