.container-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    margin: 15% auto;
}

.card-produto {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    border: 1px solid;
}

.card-produto img{
    width: 250px;
    height: 250px;
    border: 1px solid;
}

.card-produto input{
    align-items: end;
    width: 200px;
    height: 40px;
    margin: auto;
}